/* ----- style.css ----- */


/*
* {
	margin: 20;
	padding: 20;
}
body {
	background-color: #e5e5f2;
}

*/

svg path {

	opacity: 0.7;
	fill: #7f7fbf;
	stroke: #eee;
	stroke-width: .25;
}
svg path:hover {
	fill: #008000;
	transition: 0.6s;
	cursor: pointer;
}

.ocean
{
	opacity: 1;
	fill: #ffffff;
	pointer-events: none;
	cursor: not-allowed;
	stroke: #000000;
	stroke-width: 0.5;
}


/*----------------*/
/* WEBSITE DESIGN */
/*----------------*/
  
h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
	}
h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
p {
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top: 0px;
}
.button_link {
  background-color: #777777;
  color: white;
  padding: 14px 25px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
.navbar {
  margin-bottom: 12px;
  margin-top: 0px;
  overflow: hidden;
  background-color: #FFFFFF;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 8px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
